<div layout="column" style="height: 100%;">
  <section layout="row" class="section-login" flex>
    <md-content  class="section-login-content" style="background-image: url('images/login-bg-whatsapp.jpg');" flex>
      <div class="login-input-container" layout="row" layout-align="center end" layout-wrap>
        <md-content class="login-input-container-box" flex-sm="67" flex-md="55" flex-gt-md="33" md-theme="docs-dark" layout-padding layout-sm="column">
          <h2>
            Login Page
          </h2>

          <section class="section-progress" layout="row" md-theme="docs-dark" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" ng-show="onLoginIn"></md-progress-circular>
          </section>

          <section class="section-warning" ng-show="errorMessage !== ''" layout="row" md-theme="default" layout-sm="column" layout-align="space-around">
            {{errorMessage}}
          </section>

          <form ng-submit="login()">
            <md-input-container>
              <label>Name</label>
              <input ng-model="whatsappInfo.username">
            </md-input-container>

            <md-input-container>
              <label>Phone Number</label>
              <input ng-model="whatsappInfo.msisdn">
            </md-input-container>

            <md-input-container>
              <label>Coutry Code</label>
              <input ng-model="whatsappInfo.ccode">
            </md-input-container>

            <md-input-container>
              <label>Password</label>
              <input ng-model="whatsappInfo.password">
            </md-input-container>

            <md-button class="md-raised" type="submit">Login</md-button>
          </form>
        </md-content>
      </div>
    </md-content>
  </section>
</div>
